.heading{
    width: 100%;
    text-align: justify;
    border-radius: 0px;
    color: #FFFFFF;
    background-color:firebrick;
}
.heading button{
    float: right;
    border: 1px solid white;
    margin-top: 0px;
    border-radius: 5px;
}
#start, #status{
    font-size: 22px;
}
button:hover{
    transform: scale(110%);
}
h4{
    background-color: #f5f5f5;
    line-height: 2;
    margin: 0px;
}
.modal-dialog{
    width: 90%;
}
.instruction_image{
    display: inline-block;
    width: 45%;
}
.close{
    background-color: #FFFFFF;
}
.credits{
    width: 100%;
    position: sticky;
}
video{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}
#page_header{
    background: url("header-background.jpg");
}
body{
    background-color: rgb(109, 143, 252);
}